
.client__item {
    display: flex;
    box-sizing: border-box;
    column-gap: 30px;
}

.client__list {
    &-icon {
            fill: #AFB1B8;
    
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            .client__list-link:hover &,
            .client__list-link:focus & {
                    fill: #2196F3;
                }
    
        }

                &-link {
                    display: flex;
                    width: 170px;
                    height: 92px;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #AFB1B8;
                    border-radius: 4px;
        
                    transition-property: fill, border;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
                    &:hover,
                    &:focus {
                        border: 1px solid #2196F3;
                    }
        
        
                }
}




