.address {
    font-style: normal;
    text-decoration: none;
    padding-top: 20px;

}

.address-space {
    margin-bottom: 9px;
}

.white-address {
    color: var(--white-text);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.white-address:hover {
    color: var(--accent-color);
}

.white-address:focus {
    color: var(--accent-color);
}

.white-cont {
    color: var(--white-fog);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.white-cont:hover {
    color: var(--accent-color);
}

.white-cont:focus {
    color: var(--accent-color);
}