.footer {
    background: #2F303A;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    text-decoration: none;
}

.web-footer {
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.studio-footer {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}